@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-dark-color: #002e4f;
    --secondary-dark-color: #00a6dd;
    --tertiary-dark-color: #e0eeff; /* daeafe */
    --accent-color: #012a4a;
    --signal-red: #e63946;
    --signal-green: #2a9d8f;
  }

  p,
  span,
  div {
    color: var(--accent-color);
  }
}

@layer utilities {
  .bg-shop-blue-dark {
    background-color: var(--primary-dark-color);
  }
  .text-shop-blue-light {
    color: var(--secondary-dark-color);
  }
  .bg-shop-blue-light {
    background-color: var(--secondary-dark-color);
  }
  .bg-shop-bright {
    background-color: var(--tertiary-dark-color);
  }
  .border-shop-blue-light {
    border-color: var(--secondary-dark-color);
  }
  .bg-signal-red {
    background-color: var(--signal-red);
  }
  .bg-signal-red-hover:hover {
    background-color: #d62828;
  }
  .text-signal-red {
    color: var(--signal-red);
  }
  .text-signal-green {
    color: var(--signal-green);
  }
  .accent-shop-blue-dark {
    accent-color: var(--primary-dark-color);
  }
  .accent-shop-blue-light {
    accent-color: var(--secondary-dark-color);
  }
}
