@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-dark-color: #002e4f;
    --secondary-dark-color: #00a6dd;
    --tertiary-dark-color: #d0e4fc;
    --accent-color: #012a4a;
    --signal-red: #e63946;
    --signal-green: #2a9d8f;
  }

  p,
  span,
  div {
    color: var(--accent-color);
  }
}

@layer utilities {
  .bg-shop-blue-dark {
    background-color: var(--primary-dark-color);
  }
  .text-shop-blue-light {
    color: var(--secondary-dark-color);
  }
  .bg-shop-blue-light {
    background-color: var(--secondary-dark-color);
  }
  .bg-shop-bright {
    background-color: var(--tertiary-dark-color);
  }
  .border-shop-blue-dark {
    border-color: var(--primary-dark-color);
  }
  .border-shop-blue-light {
    border-color:  var(--secondary-dark-color);
  }
  .bg-signal-red {
    background-color: var(--signal-red);
  }
  .bg-signal-red-hover:hover {
    background-color: #d62828;
  }
  .bg-signal-green {
    background-color: var(--signal-green);
  }
  .bg-signal-green-hover:hover {
    background-color: #21867a;
  }
  .text-signal-red {
    color: var(--signal-red);
  }
  .text-signal-green {
    color: var(--signal-green);
  }
  .accent-shop-blue-dark {
    accent-color: var(--primary-dark-color);
  }
  .accent-shop-blue-light {
    accent-color: var(--secondary-dark-color);
  }
  .ring-shop-blue-dark {
    --tw-ring-color: var(--secondary-dark-color);
  }
  
  .scroll-fade {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .scroll-fade.show {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
  
  .min-h-55vh {
    min-height: 55vh;
  }
  .custom-select:invalid {
    color: #9ca3af;
  }
}
